{% extends 'base.html' %}
{% block content %}
{% load static %}


<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            {% for message in messages %}
            <div class="alert alert-success" role="alert">{{message}}</div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Reset Password</h1>
                        <span class="color-text-a">You can reset your password here!!!<br>Your password can’t be too similar to your other personal information.<br>
                    Your password must contain at least 8 characters.<br>
                    Your password can’t be a commonly used password.<br>
                    Your password can’t be entirely numeric.</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Reset Password
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <section class="contact">
        <div class="container">
            <div class="col-sm-12 section-t8" style="padding-top: 0px">
                <div class="row">
                    <div class="col-md-7">
                        <form action="{% url 'password_reset_confirm' %}" method="POST">
                            {% csrf_token %}
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <input aria-autocomplete="list" autocomplete="new-password"
                                           class="form-control form-control-lg form-control-a" id="id_new_password1"
                                           name="new_password1" placeholder="New Password" required="" type="password">
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <input aria-autocomplete="list" autocomplete="new-password2"
                                           class="form-control form-control-lg form-control-a" id="id_new_password2"
                                           name="new_password2" placeholder="Confirm New Password" required=""
                                           type="password">
                                </div>
                            </div>

                            <div class="col-md-12 my-3">
                                <div class="mb-3">
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <button class="btn btn-a" type="submit">CHANGE PASSWORD</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 section-md-t3">
                        <div class="icon-box section-b2">
                            <div class="icon-box-icon">
                                <span class="bi bi-envelope"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}